# TODO Parameters missing

[Unit]
Description=Solr Application Server
After=syslog.target network.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/ezfind
WorkingDirectory=/usr/share/ezfind
User=ezfind
PIDFile=/var/run/jetty.pid
ExecStart=/usr/bin/java -Dsolr.solr.home=/usr/share/ezfind -Djetty.home=/usr/share/ezfind -Dsolr.data.dir=/var/ezfind/cores -Djetty.logs=/usr/share/ezfind/logs -Djava.io.tmpdir=/tmp -jar /usr/share/ezfind/start.jar

[Install]
WantedBy=multi-user.target
